langchain-community
openai
pypdf
chromadb
python-dotenv
langchain
tiktoken
pytest
llama-cpp-python
google.generativeai
langchain-google-genai>=0.0.3
langchain-openai
sentence-transformers
tokenizers>=0.20.0
